﻿/*#region MyriadPro Cond */
@font-face {
  font-family: "MyriadPro";
  src: url("./fonts/MyriadPro-Cond.eot"); /* IE9 Compat Modes */
  src: url("./fonts/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/MyriadPro-Cond.otf") format("opentype"), /* Open Type Font */
    url("./fonts/MyriadPro-Cond.svg") format("svg"), /* Legacy iOS */
    url("./fonts/MyriadPro-Cond.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/MyriadPro-Cond.woff") format("woff"), /* Modern Browsers */
    url("./fonts/MyriadPro-Cond.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
}

@font-face {
  font-family: "MyriadPro";
  src: url("./fonts/MyriadPro-BoldCond.eot"); /* IE9 Compat Modes */
  src: url("./fonts/MyriadPro-BoldCond.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/MyriadPro-BoldCond.otf") format("opentype"), /* Open Type Font */
    url("./fonts/MyriadPro-BoldCond.svg") format("svg"), /* Legacy iOS */
    url("./fonts/MyriadPro-BoldCond.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/MyriadPro-BoldCond.woff") format("woff"), /* Modern Browsers */
    url("./fonts/MyriadPro-BoldCond.woff2") format("woff2"); /* Modern Browsers */
  font-weight: bold;
}
/*#endregion */

/*#region SegoeUi */
@font-face {
  font-family: "SegoeUI";
  src: url("./fonts/segoe-ui.eot"); /* IE9 Compat Modes */
  src: url("./fonts/segoe-ui.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/segoe-ui.otf") format("opentype"), /* Open Type Font */
    url("./fonts/segoe-ui.svg") format("svg"), /* Legacy iOS */
    url("./fonts/segoe-ui.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/segoe-ui.woff") format("woff"), /* Modern Browsers */
    url("./fonts/segoe-ui.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUI";
  src: url("./fonts/segoe-ui-bold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/segoe-ui-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/segoe-ui-bold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/segoe-ui-bold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/segoe-ui-bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/segoe-ui-bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/segoe-ui-bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: bold;
}
/*#endregion */