﻿@import "bootstrap-4.2.1/scss/bootstrap";
@import "font-awesome-4.7.0/scss/font-awesome";
@import "../js/slick-1.8.1/slick/slick.scss";

@import "variables";
@import "mixin";
@import "reset";
@import "font-face";
@import "image";
@import "bootstrap-edit";

// general
.general {
	&__title {
		position: relative;
		display: flex;
		justify-content: center;
		margin: 15px 0;
		&:before {
			content: '';
			position: absolute;
			background: url(images/dash-icon.png) repeat-x center;
			width: 100%;
			height: 6px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: 99;
		}
		.block { 
			display: flex; 
			align-items: center; 
			background-color: #fff;
			padding: 0 14px;
			z-index: 9999;
			h2 {
				margin-bottom: 0;
				text-transform: uppercase;
				position: relative;
				top: 2px;
				padding: 0 22px;
			}
		}
	}
}

// khối header
.header {
	background-color: $color-blue-primary;
	display: flex;
	.logo { display: flex; align-items: center }
	nav { 
		flex-grow: 2;
		display: flex;
		justify-content: flex-end;
		padding: 0 15px;
		align-items: center;
		ul { margin-bottom: 0 }
		li {
			display: inline-block;
			a { 
				font-size: 20px;
				color: #8d8fae; 
				line-height: 1;
				border-bottom: 4px solid transparent;
				padding: 32px 18px 24px;
				text-transform: uppercase;
				display: block;
				transition: all .3s ease;
				&:hover { color: #fff; border-color: #fff }
			}
		}
	}
	.icon {
		display: flex;
		align-items: center;
		a {
			width: 40px;
			height: 40px;
			color: #fff;
			border: 2px solid #fff;
			border-radius: 50%;
			text-align: center;
			line-height: 1;
			margin: 5px;
			font-size: 16px;
			display: flex;
			justify-content: center;
			align-items: center;
			&:last-child { margin-right: 0 }
			&.text { background-color: #fff; color: $color-blue-primary }
		}
	}
}

// khối slider
.slider {
	margin-bottom: 32px;
	max-height: 571px;
  overflow: hidden;
	.slick-dots {
		position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
		li {
			display: inline-block;
			button {
				cursor: pointer;
				width: 50px;
				height: 4px;
				text-indent: -9999px;
				border: none;
				margin: 0 3px;
				background-color: rgba(184, 187, 193, .5);
				transition: all .3s ease;
				&:hover {
					background-color: rgba(16, 19, 60, 1);
				}
			}
			&.slick-active button { background-color: rgba(16, 19, 60, 1) }
		}
	}
	.item img { width: 100%; height: fit-content; object-fit: cover }
}

// khối category
.category {
	margin-bottom: 32px;
	.imgcw:before { padding-bottom: 97.05% }
	.wrap { 
		position: relative;
		cursor: pointer;
		&:after {
			content: '';
			position: absolute;
			z-index: 9;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: .3;
			transition: all .3s ease;
		}
		&:hover:after { opacity: .2 }
	}
	h2 {
		position: absolute;
		z-index: 99;
		text-transform: uppercase;
		font-size: 30px;
		color: #fff;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		width: 100%;
		margin: 0;
		padding: 0 15px;
		&:after {
			content: '';
			position: absolute;
			width: 79px;
			height: 1px;
			background-color: #cdced0;
			z-index: 9999;
			top: -12px;
			left: 50%;
			transform: translateX(-50%);
		}
		&:before {
			content: '';
			position: absolute;
			width: 79px;
			height: 1px;
			background-color: #cdced0;
			z-index: 9999;
			bottom: -3px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

// khối sản phẩm nổi bật
.product {
	margin-bottom: 15px;
	.info {
		font-family: $font;
		color: #666;
		a { 
			font-weight: bold;
			display: block;
			padding: 16px 0;
			text-align: center;
			border-bottom: 1px dashed #e0e0e0;
			margin-bottom: 8px;
		}
		p { margin-bottom: 0; text-align: center }
	}
	&.new {
		position: relative;
		&:before {
			content: 'NEW';
			position: absolute;
			width: 48px;
			line-height: 48px;
			background-color: rgba(20, 25, 82, 0.8);
			color: #fff;
			border-radius: 50%;
			z-index: 9999;
			top: 10px;
			left: 25px;
			font-size: 12px;
			font-weight: bold;
			font-family: $font;
			text-align: center;
		}
	}
}

// khối tin tức mới nhất
.news {
	margin-bottom: 35px;
	.title {
		display: flex;
		padding: 20px 0 10px;
		.left {
			min-width: 60px;
			height: 60px;
			background: url(images/calendar.png) no-repeat center;
			p { 
				margin-bottom: 0; 
				padding: 5px 0; 
				text-align: center; 
				line-height: 1; 
				transition: all .3s ease;
				&:hover { color: $color-blue-primary }
			}
			.d { font-weight: bold; font-size: 22px }
			.m { font-size: 15px }
		}
		.right {
			padding: 0 15px;
			font-family: $font; 
			font-weight: bold; 
			font-size: 15px; 
			line-height: 24px;
			height: 48px;
			overflow: hidden;
			transition: all .3s ease;
			&:hover { color: $color-blue-primary }
		}
	}
	.entry {
		font-family: $font;
		font-size: 13px;
		color: #888;
		margin-bottom: 5px;
		span { padding-right: 16px }
		i { padding-right: 3px }
	}
	.content {
		font-family: $font;
		line-height: 22px;
		margin-bottom: 10px;
	}
	.more {
		font-family: $font;
		color: #999;
		line-height: 22px;
		text-transform: uppercase;
	}
}

// khối banner
.banner {
	display: flex;
	align-items: center;
	width: 100%;
	height: 496px;
	color: #fff;
	background: url(pic/banner-01.jpg) no-repeat center;
	background-size: cover;
	h2 { text-align: center; font-weight: bold; font-size: 50px; line-height: 60px; text-transform: uppercase }
	span { display: block; text-align: center; font-size: 44px; line-height: 45px; text-transform: uppercase; margin-bottom: 20px }
	p {
		text-align: center;
		font-family: $font;
		font-size: 15px;
		line-height: 21px;
	}
}

// khối thư viện ảnh + libary
.libary {
	margin: 44px 0;
	img { width: 100% }
	.title {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 10px;
		h2 { font-weight: bold; font-size: 30px; color: $color-blue-primary; line-height: 18px; text-transform: uppercase }
		a { font-family: $font; line-height: 30px }	
	}
	.block {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1px;
		.item { 
			padding: 0 1px 2px; 
			width: 100%;
			&.big { 
				flex: 0 0 50%; 
				max-width: 50%;
				.imgcw:before { padding-bottom: 51.74% }
			}
			&.small { 
				flex: 0 0 25%;
				max-width: 25%;
				.imgcw:before { padding-bottom: 104.22% }
			}
		}
	}
}

// khối đăng ký nhận bản tin
.subscribe {
	background-color: #ececec;
	padding: 16px 0;
	.left {
		display: flex;
		span { 
			color: $color-blue-primary; 
			font-size: 20px; 
			font-family: $font; 
			line-height: 22px; 
			padding-right: 18px; 
			display: flex;
			align-items: center;
		}
		input {
			background-color: #c5c5c5; 
			border: none; 
			padding: 10px 15px;
			flex-grow: 2;
			max-width: 470px;
		}
	  a { 
			color: #fff; 
			text-transform: uppercase; 
			font-family: $font; 
			font-size: 20px; 
			padding: 0 30px; 
			background-color: $color-blue-fade;
			display: flex;
			align-items: center;
			transition: all .3s ease;
			&:hover { background-color: #373fa5 }
			img { padding-right: 8px }
	  }
	}
	.right ul {
		display: flex;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
    padding: 0;
    justify-content: flex-end;
		li {
			cursor: pointer;
			width: 45px;
			background-color: $color-blue-fade;
			border-radius: 5px;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 10px;
			transition: all .3s ease;
			&:hover { background-color: #373fa5 }
			&.special { 
				background-color: #fff; 
				&:hover { background-color: #fff }
			}
		}
	}
}

// khối footer
.footer {
	background-color: $color-blue-primary;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: url(images/bg-footer.png) no-repeat center bottom;
	}
	&__info { 
		img { max-width: 75px }
		.name {
			color: #fff;
			h3 { 
				text-transform: uppercase;
				font-weight: bold;
				font-size: 21px;
				line-height: 22px;
				margin-bottom: 0;
			}
			p { font-size: 17px; line-height: 22px; margin-bottom: 0; text-align: center }
		}
		.decs { 
			color: $color-blue-fofade; 
			font-family: $font; 
			margin-top: 15px;
		}
	}
	&__title {
		font-family: $font;
		font-size: 18px;
		color: #fff;
		text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 12px;
	}
	&__nav ul {
		padding: 15px 0;
		li {
			padding-left: 15px;
			position: relative;
			border-bottom: 1px solid #1a1e5c;
			box-shadow: 0 2px 0px -1px #000;
			a {
				font-family: $font;
				color: $color-blue-fofade;
				line-height: 32px;
			}
			&:before {
				content: '\f054';
				font-family: FontAwesome;
				left: 0;
				position: absolute;
				color: #b2b7ff;
				top: 10px;
				font-size: 8px;
			}
		}
	}
	&__maps img { margin-top: 5px }
	&__fanpage img { margin-top: 25px }
	&__middle {
		position: relative;
		text-align: center;
		.wrap { margin: 20px 0; min-height: 60px; display: flex; justify-content: center; align-items: center }
		p { 	
			font-family: $font; 
			font-size: 16px; 
			line-height: 24px; 
			color: #fff; 
			margin-bottom: 0;
			padding-bottom: 15px;
		}
		&:after {
			content: '';
			background: url(images/dot.png) no-repeat center;
			width: 7px;
			height: 7px;
			position: absolute;
			bottom: -3px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__line { padding-top: 30px; border-bottom: 1px solid #1a1e5c; box-shadow: 0 2px 0px -1px #000 }
	&__bottom {
		background-color: rgba(13, 15, 48, .9);
		height: 40px;
		margin-top: 25px;
		p { 
			z-index: 9;
			margin-bottom: 0;
			color: $color-blue-fofade;
			font-family: $font;
			line-height: 26px;
			display: flex;
			align-items: center;
			img { padding: 0 6px 0 20px }
		}
	}
}