﻿body {
	color: #333;
	font-size: 14px;
	font-family: 'MyriadPro';
}
a { color: #333 }
a:hover { text-decoration: none; color: inherit }
li { list-style-type: none }
*:focus { outline: none!important }
