﻿@media only screen and (max-width: 991px) {
  .subscribe .left span {
    font-size: 12px; }
  .subscribe .left input {
    padding: 10px 10px; }
  .subscribe .left a {
    font-size: 12px;
    padding: 0 15px; } }

@media only screen and (max-width: 767px) {
  .subscribe .left span {
    display: none; }
  .subscribe .right {
    margin-bottom: 15px; }
    .subscribe .right ul {
      margin-top: 15px;
      justify-content: center; }
  .footer__bottom {
    height: auto; }
    .footer__bottom p {
      margin-bottom: 10px;
      text-align: center; } }
