﻿@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
	.subscribe {
		.left {
			span { font-size: 12px }
			input { padding: 10px 10px }
			a { font-size: 12px; padding: 0 15px }
		}
	}
}

@media only screen and (max-width: 767px) {
	.subscribe {
		.left span { display: none }
		.right {
			margin-bottom: 15px;
			ul { margin-top: 15px; justify-content: center }
		}
	}
	.footer__bottom {
		height: auto;
		p { margin-bottom: 10px; text-align: center }
	}
}
